services:
  autha:
    image: ghcr.io/gravitalia/autha:0.5.0
    restart: unless-stopped
    container_name: autha
    depends_on:
      postgres:
        condition: service_started
      rabbitmq:
        condition: service_healthy
      otel-collector:
        condition: service_started
    environment:
      - UNIX_SOCKET=/var/run/sockets/autha.sock
      - KEY=master_key # key is derived with Argon2.
      - SALT=3f7911bbb6d63436367162069fc6b45c # 16 bytes hex encoded. MUST be high entropy.
      - OTEL_URL=otel-collector:4317
    volumes:
      - ../config/account/config.yaml:/config.yaml
      - autha_socket:/var/run/sockets
    networks:
      - proxy
      - authentification
      - database
      - broker
      - telemetry

  mail:
    image: ghcr.io/gravitalia/maily:0.1.1
    restart: unless-stopped
    container_name: mail
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: user
      RABBITMQ_PASSWORD: password
      SMTP2GO_KEY: api-xxx
    networks:
      - broker

volumes:
  autha_socket:

networks:
  authentification:
    driver: bridge