services:
  autha:
    image: ghcr.io/gravitalia/autha:0.3.4
    restart: unless-stopped
    container_name: autha
    depends_on:
      postgres:
        condition: service_started
      rabbitmq:
        condition: service_healthy
      otel-collector:
        condition: service_started
    expose:
      - 8080
    environment:
      - PORT=8080
      - KEY=a448833a8477eda6b395c24f44eda52b306bc739c5752ce30fea84a85c529c21 # key: random 32 bytes encoded in hex
      - OTEL_URL=otel-collector:4317
    volumes:
      - ../config/account/config.yaml:/config.yaml
    networks:
      - proxy
      - authentification
      - database
      - broker
      - telemetry

  mail:
    image: ghcr.io/gravitalia/maily:0.1.0
    restart: unless-stopped
    container_name: mail
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: user
      RABBITMQ_PASSWORD: password
      SMTP2GO_KEY: api-xxx
    networks:
      - broker

  #openldap:
  #  image: bitnami/openldap:latest
  #  container_name: openldap
  #  expose:
  #    - 389
  #  environment:
  #    - LDAP_ROOT=dc=domain,dc=local
  #    - LDAP_ADMIN_USERNAME=admin
  #    - LDAP_ADMIN_PASSWORD=admin
  #    - LDAP_EXTRA_SCHEMAS=argon2
  #  volumes:
  #    - openldap-data:/bitnami/openldap
  #    - ../config/argon2.ldif:/opt/bitnami/openldap/etc/schema/argon2.ldif
  #  networks:
  #    - authentification

volumes:
  openldap-data:

networks:
  authentification:
    driver: bridge