services:
  graphql:
    container_name: news
    restart: unless-stopped
    image: ghcr.io/gravitalia/news-api:1.0.0
    environment:
      - PORT=5400
    expose:
      - 5400
    networks:
      - proxy
      - database
      - news


networks:
  news:
    driver: bridge